#DEVELOPER ZONE DEV.YPIPPIJKT.SCH.ID
#===================================

/dev/

#DEVELOPER ZONE NEXT.YPIPPIJKT.SCH.ID
#===================================
/next/

#SKL ZONE
#===================================
/skl/

#ELEARNING ZONE
#==================================
/elearning
